<h1>Add a New Book to Your Collection</h1>
<br>
<div>
  <mat-card class="new-book">
    <mat-card-header>
      <mat-card-title>Enter Book Information</mat-card-title>
      <!--      <mat-card-subtitle>Enter Book Information</mat-card-subtitle>-->
    </mat-card-header>
    <div class="parent">
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Title</mat-label>
          <input matInput [(ngModel)]="newBook.name">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Author</mat-label>
          <input matInput [(ngModel)]="newBook.author">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="standard">
          <mat-label>Genre</mat-label>
          <mat-select [(ngModel)]="newBook.category">
            <mat-option value="historical">Historical</mat-option>
            <mat-option value="classic">Classic</mat-option>
            <mat-option value="educational">Educational</mat-option>
            <mat-option value="romance">Romance</mat-option>
            <mat-option value="sci-fi">Sci-Fi</mat-option>
            <mat-option value="anime">Anime</mat-option>
            <mat-option value="horror">Horror</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>


    <div>
      <mat-form-field appearance="standard" class="description">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="newBook.description"></textarea>
      </mat-form-field>
    </div>
    <mat-star-rating [rating]="rating"  [starCount]="starCount" [color]="starColor" (ratingUpdated)="onRatingChanged($event)"></mat-star-rating>

    <mat-label>Loaned Out </mat-label>
    <mat-checkbox type="checkbox" ngDefaultControl [(ngModel)]="newBook.loaned"></mat-checkbox>
    <div *ngIf="newBook.loaned">
      <mat-form-field appearance="standard">
        <mat-label>Loaned To</mat-label>
        <input matInput [(ngModel)]="newBook.person" />
      </mat-form-field>
    </div>
    <mat-card-actions align="end">
      <button mat-raised-button mat-raised-button (click)="save()">Save</button>
    </mat-card-actions>
  </mat-card>

</div>
