.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  mat-form-field {
    width: 300px !important;
  }
  
  .description {
    width: 100% !important;
  }
  
  .login {
    margin: 20px;
  }
  
  .mat-card {
    background: #590909 !important;
  }
  
  .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }
  
   .mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
  } 
  
  .mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: white !important;
  }
  
  h1 {
    margin-left: 35%;
  }
  
  .mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab {
    color: #fff;
    background-color: #222121;
  }

  .mat-card-actions-align-end .mat-button:last-child, .mat-card-actions-align-end .mat-raised-button:last-child, .mat-card-actions-align-end .mat-stroked-button:last-child {
    margin-top: 20px;
    margin-right: 10px;
  }