<mat-card class="login">
  <div class="parent">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-form-field appearance="standard">
      <mat-label for="email">E-Mail</mat-label>
      <input matInput type="email" [(ngModel)]="userName" id="email" name="email" required email>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label for="password">Password</mat-label>
      <input matInput type="password" [(ngModel)]="password" id="password" name="password" required minlength="6">
    </mat-form-field>
    <div>
      <mat-card-actions align="end">
        <button mat-raised-button (click)="login()">Login</button>
      </mat-card-actions>
    </div>
  </div>
</mat-card>
