.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .top {
    background-color: #590909;
    color: white;
    margin-top: 15px;
  }
  
  
  mat-form-field {
    width: 300px !important;
  }
  
  .description {
    width: 100% !important;
  }
  
  .new-book {
    margin: 20px;
  }
  
  .mat-card {
    background: #b08d6e !important;
  }
  
  h1 {
    text-align: center;
  }
  
  .save {
    float: right;
  }
  

.mat-focused .mat-form-field-label {
  /*change color of label*/
  color: white !important;
 }

 .mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
} 

.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: white !important;
}



.dropdown {
  background-color: #590909 !important;
  color: white !important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #590909;
  background-color: #b08d6e;
}