<div class="container">
  <h1>Paige's Books</h1>

  <mat-form-field appearance="standard" class="filter">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Liked Column -->
      <ng-container matColumnDef="liked">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Favorite </th>
        <td mat-cell *matCellDef="let book"> 
          <button mat-button (click)="isLiked(book)">
            <mat-icon *ngIf='book.liked' aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon>
            <mat-icon *ngIf='!book.liked' aria-hidden="false" aria-label="Example home icon" fontIcon="favorite_border"></mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let book"> {{book.name}} </td>
      </ng-container>

      <!-- Authors Column -->
      <ng-container matColumnDef="author">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Author </th>
        <td mat-cell *matCellDef="let book"> {{book.author}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let book"> {{book.description}} </td>
      </ng-container>

      <!-- Categories Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let book"> {{book.category}} </td>
      </ng-container>

      <!-- Loaned Column -->
      <ng-container matColumnDef="loaned">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Loaned </th>
        <td mat-cell *matCellDef="let book"> {{book.loaned}} </td>
      </ng-container>


      <!-- Person Column -->
      <ng-container matColumnDef="person">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Who </th>
        <td mat-cell *matCellDef="let book"> {{book.person}} </td>
      </ng-container>

      <!-- Stars Column -->
      <ng-container matColumnDef="stars">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Stars </th>
        <td mat-cell *matCellDef="let book"> {{book.stars}} </td>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let book">
          <button mat-button [routerLink]="['/edit', book.key]">Edit</button>
        </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let book">
          <button mat-button (click)="removeBook(book.key)">Delete</button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator class="page" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
