
table {
  width: 100%;
}

.top {
  background-color: #590909;
  color: white;
  margin-top: 15px;
  text-align: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  color: #592d0a;
}

.filter {
  width: 100%;
}

.page {
  width: 100%;
  background-color: #592d0a;
}

.mat-table {
  background-color: #592d0a;
}

.container {
  padding: 40px;
}

.mat-button:hover {
  background-color: 	#b08d6e;
  color: #590909;
}


::ng-deep .mat-form-field-label {
  color: #222121 !important;
 }

 ::ng-deep.mat-form-field-underline {
  background-color: #222121 !important;
} 

::ng-deep.mat-form-field-ripple {
 background-color: #222121 !important;
}

input::placeholder {
  color: #222121;
}